//VARIABLES
$type: 'Montserrat', sans-serif;

//GLOBAL STYLING
body{
    margin:0;
    padding: 0;
    font-family: $type;
}

//HEADER

.container {
    width: 60%;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: $type;

    a{
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}